<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
  body {
    background: #333;
    color:#ddd;
  }

  .allplots {
    display: flex;
    max-width: 100vw;
  }

  .allplots div {
    padding: 5px;
  }
</style>
<body>
{{{body}}}
<canvas id="plot"></canvas>
<script src="/socket.io/socket.io.js"></script>
<script>
</script>
<script src="jquery.min.js"></script>
<script src="plotty.min.js"></script>
<script src="geotiff.js"></script>

<script>
  // ...

  var oReq = new XMLHttpRequest();
oReq.open("GET", '/file/resampled__VV_20210312', true);
oReq.responseType = "arraybuffer";

oReq.onload = async function(oEvent) {
  var arrayBuffer = oReq.response;

  console.log(arrayBuffer);

  const tiff = await GeoTIFF.fromArrayBuffer(arrayBuffer);

  console.log('dupa');


  const image = await tiff.getImage();
    const data = await image.readRasters();

    const canvas = document.getElementById("plot");
    const plot = new plotty.plot({
      canvas,
      data: data[0],
      width: image.getWidth(),
      height: image.getHeight(),
      domain: [0, 256],
      colorScale: "viridis"
    });
    plot.render();
};

oReq.send();

  // (async function() {
  //   const tiff = await GeoTIFF.fromUrl('/file/resampled__VV_20210217');
  //   const image = await tiff.getImage();
  //   const data = await image.readRasters();

  //   const canvas = document.getElementById("plot");
  //   const plot = new plotty.plot({
  //     canvas,
  //     data: data[0],
  //     width: image.getWidth(),
  //     height: image.getHeight(),
  //     domain: [0, 256],
  //     colorScale: "viridis"
  //   });
  //   plot.render();
  // })();

$(function () {

  //var socket = io();

  //socket.on('image available', function(data) {
  //  var id = data.id;
  //  var classes = data.classes;
  //  $('#classes' + classes).find('div[data-id=' + id + ']').html(data.html);
  //});


  //$('.allplots').first().find('div').each(function( i, e) {
  //  console.log("wtf why not");
  //  var dat = $(e).data('id');
  //  // najprosciej bedzie generowac HTML na serwie
  //  // wiec tu tylko odczut

  //  for (var i = 2; i <= 6; i++) {

  //    $.ajax({
  //      url: 'get-plot/' + dat + '/' + i,

  //      success: function (resp) {
  //        //$(e).html(resp);
  //      }
  //    });
  //  }
  //});
});

</script>
</body>
</html>
